# Compiled Object files
*.o
*.gch
dispersio3

# Game saved data
settings.json
save.json
records.json
checksum.json

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# Tiled session
*.tiled-session
