body       { font-size: 12pt; font-family: sans-serif; }
li         { font-size: 12pt; }
h1         { font-size: 18pt; text-align: center; }
h3         { font-size: 15pt; }
table      { text-align: left; }
th         { vertical-align: top; font-size: 12pt; background-color: rgb(153, 153, 153); }
tr         { vertical-align: top; font-size: 12pt; }
tr.o       { vertical-align: top; font-size: 12pt; background-color: rgb(255, 255, 153); }
tr:hover   { background-color: rgb(240, 240, 240); }
tr.o:hover { background-color: rgb(240, 240, 120); }
